.search-bar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5vh;
    padding-bottom: 2vh;
}

.scroll {
    max-height: 30vh;
    overflow-y: auto;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    flex-direction: column;
}

.scroll::-webkit-scrollbar{
    display: none;
}

.submit {
    background-color: #8d8d8d;
    border: none;
    padding: 15px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    margin: 0px;
}

.text {
    padding: 15px;
    border: none;
    flex: auto;
}

form {
    display: flex;
    flex-direction: row;
    width: calc(min(50vh, 75vw));
}

.text:focus {
    outline: none;
}

.left {
    border-radius: 10px 0px 0px 10px;
}

.top-left {
    border-radius: 10px 0px 0px 0px;
}

.right {
    border-radius: 0px 10px 10px 0px;
}

.top-right {
    border-radius: 0px 10px 0px 0px;
}

.location-card {
    width: calc(min(50vh, 75vw));
    padding: 15px;
    background-color: white;
    border-top: solid 1px;
    border-bottom: none;
    border-right: none;
    border-left: none;
    border-radius: 0;
    border-color: black;
}